.about {
    width: 90%;
    max-width: 1700px;
    margin: auto;
    padding: 40px;
    text-align: center;
  }
  
  .title {
    color: $PrimaryLightBlue;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: start;
  }

  #ariskmind {
    scroll-margin-top: 70px;
  }
  
  .description {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    text-align: justify;
  }
  
  .highlight {
    color: $PrimaryLightBlue;
    font-weight: bold;
  }
  
  .highlight-yellow {
    color: $Yellow;
    font-weight: bold;
  }
  
  .cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 30px;
    gap: 25px;
  }
  
  .card {
    width: 30%;
    background: $White;
    padding: 20px;
    border: 2px solid $PrimaryLightBlue;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.103);
    text-align: center;
    transform: translateX(50px);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease-in-out;
    will-change: opacity, transform;
    font-size: 17px;
    overflow-x: hidden;
  
    ul {
      list-style: none;
      padding: 0;
      margin-top: 10px;
    }
  
    li {
      font-size: 16px;
      color: #333;
      margin-bottom: 5px;
      position: relative;
      padding-left: 20px;
      text-align: left;
    }
  
    li::before {
      content: "➤";
      color: $Yellow;
      position: absolute;
      left: 0;
    }
  }
  
  .card.show {
    opacity: 1;
    transform: translateX(0);
  }
  