
.clientes-texto {
    display: flex;
    flex-flow: column;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    padding: 40px 0px;
  }

h2 {
    color: #3776c2;
}
.clientes {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.carrossel-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 15px;
    width: max-content;
    animation: scroll 19.8s linear infinite;
  }
  
  .img-logo {
    img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 175px;
    transition: transform 0.5s ease;
    }
    :hover{
      transform: scale(1.07);
    }
  }
  

  @keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
  }
}