.footer {
    background-color: #e3effb;
    padding: 30px;
    text-align: center;
}
.footer a {
    color: #3776c2;
    text-decoration: none;
}
.footer-icons {
    margin-top: 15px;
}
.footer-icons img {
    width: 30px;
    margin: 0 10px;
}
.footer-links {
    margin-top: 15px;
}
.footer-links a {
    display: block;
    margin-top: 5px;
    color: black;
    text-decoration: none;
}