header {
    padding: 10px 40px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.15);
    z-index: 10;
    backdrop-filter: blur(5px);
    box-sizing: border-box;
}

nav {
    flex-grow: 1;
    text-align: left;
    display: flex;
    justify-content: flex-end;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

nav li {
    display: inline;
    padding: 0.2em 0.5em;
}

nav a {
    text-decoration: none;
    color: $Black;
    font-weight: 300;
    font-size: 18px;
    transition: color 0.5s ease-in-out;
}

nav a:hover {
    color: $PrimaryLightBlue;
}



#faleconosco{
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.2em 0.5em;
    border: 3px solid $PrimaryLightBlue;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.1);
    color: $PrimaryLightBlue;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

#faleconosco:before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: $PrimaryLightBlue;
    z-index: -1;
}

#faleconosco:hover, #faleconosco:focus{
    color: $White;
}

#faleconosco:hover:before, #faleconosco:focus:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

#faleconosco:active{
    transform: scale(0.95);
}