.texto-carrossel {
    display: flex;
    max-width: 300px;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: $White;
    text-align: start;
    margin: auto;
    .variavel {
      color: $PrimaryLightBlue;
      transition: opacity 0.5s ease;
    }
  }

  .carrossel-text-container {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-50%, -50%);
  z-index: 9;
  text-align: center;
  color: white;
}