@charset "UTF-8";
header {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  z-index: 10;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-sizing: border-box;
}

nav {
  flex-grow: 1;
  text-align: left;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

nav li {
  display: inline;
  padding: 0.2em 0.5em;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: 18px;
  transition: color 0.5s ease-in-out;
}

nav a:hover {
  color: #168ae4;
}

#faleconosco {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.2em 0.5em;
  border: 3px solid #168ae4;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #168ae4;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

#faleconosco:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #168ae4;
  z-index: -1;
}

#faleconosco:hover, #faleconosco:focus {
  color: #fff;
}

#faleconosco:hover:before, #faleconosco:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

#faleconosco:active {
  transform: scale(0.95);
}

.footer-container {
  background-color: #e3effb;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  width: 40%;
  text-align: left;
  padding-left: 40px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.footer-left strong {
  font-size: 25px;
}

.footer-left p {
  margin: 10px 0;
  font-size: 20px;
}

.footer-right {
  width: 25%;
  text-align: right;
  padding-right: 40px;
}
.footer-right a {
  display: block;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.5s ease-in-out;
}
.footer-right a:hover {
  color: #168ae4;
}

.footer-bottom {
  display: flex;
  flex-flow: row;
  background-color: #e3effb;
  align-items: center;
  justify-content: space-between;
  padding: 15px 70px;
}

.footer-bottom a {
  color: #168ae4;
  text-decoration: none;
}

.clientes-texto {
  display: flex;
  flex-flow: column;
  width: 90%;
  max-width: 1700px;
  margin: auto;
  padding: 30px 0px;
}

h2 {
  color: #168ae4;
}

.clientes {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 20px;
}

.carrossel-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
  width: -moz-max-content;
  width: max-content;
  animation: scroll 24s linear infinite;
}

.img-logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 175px;
  transition: transform 0.5s ease;
}
.img-logo :hover {
  transform: scale(1.07);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.about {
  width: 90%;
  max-width: 1700px;
  margin: auto;
  padding: 40px;
  text-align: center;
}

.title {
  color: #168ae4;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: start;
}

#ariskmind {
  scroll-margin-top: 70px;
}

.description {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
  text-align: justify;
}

.highlight {
  color: #168ae4;
  font-weight: bold;
}

.highlight-yellow {
  color: #002147;
  font-weight: bold;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 30px;
  gap: 25px;
}

.card {
  width: 30%;
  background: #e3effb;
  padding: 20px;
  border: 2px solid #168ae4;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.103);
  text-align: center;
  transform: translateX(50px);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease-in-out;
  will-change: opacity, transform;
  font-size: 17px;
  overflow-x: hidden;
}
.card ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.card li {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
  text-align: left;
}
.card li::before {
  content: "➤";
  color: #002147;
  position: absolute;
  left: 0;
}

.card.show {
  opacity: 1;
  transform: translateX(0);
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 120px 0px;
}

.slider-wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

.slider {
  display: flex;
  width: 100%;
  min-height: 37vw;
  max-height: 600px;
  overflow-x: auto;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scroll-snap-align: start;
}

.slider-nav {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #aaa;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}

.container-3 {
  display: flex;
  max-width: 1700px;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 28px 0px;
  margin: auto;
  text-align: center;
  gap: 25px;
}

.container-3 > * {
  flex: 1 1 calc(33.333% - 17px);
  box-sizing: border-box;
}

.item-3 {
  height: 270px;
  width: 90%;
  padding: 15px;
  transform: translateX(50px);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease-in-out;
  will-change: opacity, transform;
}

.item-3.show {
  opacity: 1;
  transform: translateX(0);
}

.item-3 h1 {
  font-size: 30px;
}

.item-3 p {
  font-size: 20px;
  font-weight: 500;
}

#solucoes {
  scroll-margin-top: 70px;
}

.container-3 .item-3 {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #e3effb;
  padding: 30px 20px;
  transition: background-color 0.4s ease, transform 0.7s ease, opacity 0.8s ease-in-out;
}

.container-3 .item-3:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
  transform: scale(1.03);
  background-color: #168ae4;
  color: #fff;
}

.icon-wrapper {
  position: relative;
  margin: auto;
  margin-bottom: 10px;
}

.icon-wrapper .icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.icon-wrapper .white {
  opacity: 0;
}

.item-3:hover .icon-wrapper .white {
  opacity: 1;
}

.item-3:hover .icon-wrapper .default {
  opacity: 0;
}

/* Tamanhos personalizados */
.icon-shield {
  width: 50px;
  height: 60px;
}

.icon-cipher {
  width: 28px;
  height: 49px;
}

.icon-car {
  width: 60px;
  height: 45px;
}

.icon-bars {
  width: 50px;
  height: 44px;
}

.icon-cash {
  width: 60px;
  height: 36px;
}

.icon-pie {
  width: 50px;
  height: 47px;
}

.icon-wrapper .icon {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

span {
  font-weight: 300;
}

.container-2 {
  display: flex;
  max-width: 1720px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  box-sizing: border-box;
}

.item-2 {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin-bottom: 20px;
}

#machine {
  margin-top: 85px;
}

.item-2 p {
  font-size: 17px;
}

::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #168ae4;
  border-radius: 10px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #002147;
}

.plano-de-fundo {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.plano-de-fundo div {
  position: absolute;
  border-radius: 50%;
  animation: gradient 4s infinite;
}

@keyframes gradient {
  70% {
    transform: scale(1.2) translate(50px);
  }
}
.plano-de-fundo div:nth-child(1) {
  width: 90%;
  height: 80%;
  background-color: #C5F1FA;
  left: -29%;
  top: -10%;
}

.plano-de-fundo div:nth-child(2) {
  width: 80%;
  height: 70%;
  background-color: #C5E1FA;
  top: -12%;
  right: -12%;
  animation-delay: 8s;
}

.plano-de-fundo div:nth-child(3) {
  width: 65%;
  height: 80%;
  background-color: #C5D0FA;
  bottom: -15%;
  right: -20%;
  animation-delay: 0.3s;
}

.plano-de-fundo div:nth-child(4) {
  width: 80%;
  height: 25%;
  background-color: #B5DFFA;
  bottom: -6%;
  left: -18%;
  animation-delay: 1.2s;
}

.plano-de-fundo div:nth-child(5) {
  width: 80%;
  height: 30%;
  background-color: #A9D3FA;
  bottom: 8%;
  left: 1%;
  animation-delay: 1s;
}

.plano-de-fundo::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(80px);
          backdrop-filter: blur(80px);
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  header {
    display: flex;
    padding: 20px 40px;
    flex-direction: row;
    align-items: center;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    margin-top: 10px;
  }
  nav ul li {
    display: none;
  }
  nav ul li:has(a#faleconosco) {
    display: inline-block;
  }
  #faleconosco {
    font-size: 16px;
    padding: 0.5em 1em;
  }
  .slider {
    min-height: 50vw;
    height: auto;
  }
  .slider img {
    height: auto;
  }
  .banner {
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
  }
  .container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .container-2 {
    flex-direction: column;
  }
  .item-2 {
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 0px 10px;
    margin: auto;
  }
  #machine {
    margin-top: 45px;
  }
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;
  }
  .clientes-texto {
    width: 80%;
  }
  .footer-container {
    justify-content: center;
  }
  .footer-left {
    width: 100%;
    padding-left: 20px;
  }
  .footer-right {
    display: none;
  }
  .footer-bottom-right {
    display: none;
  }
  .footer-bottom {
    padding: 10px 20px;
    justify-content: center;
  }
  .footer-bottom-left {
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .slider {
    overflow: hidden;
  }
  .slider-wrapper {
    overflow: hidden;
  }
}/*# sourceMappingURL=style.css.map */