@charset "UTF-8";
header {
  padding: 10px 87px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  flex-grow: 1;
  text-align: left;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
}

nav li {
  display: inline;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: 16px;
  transition: color 0.5s ease-in-out;
}

nav a:hover {
  color: #168ae4;
}

.contact-section {
  display: flex;
  width: 91%;
  margin: 50px auto;
  gap: 20px;
}

.contact-info, .contact-form {
  width: 50%;
  padding: 30px;
  text-align: center;
}

.contact-info {
  background-color: #fff;
  color: #002147;
  font-size: 16px;
}
.contact-info h2 {
  color: #002147;
  font-weight: bold;
}
.contact-info a {
  color: #168ae4;
  text-decoration: none;
}
.contact-info a:hover {
  text-decoration: underline;
}

.contact-form {
  background-color: #002147;
  color: #fff;
  border-radius: 15px;
}

.contact-form .input-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
}

.contact-form input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.contact-form textarea {
  width: 100%;
  height: 120px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 10px;
  resize: none;
}

.contact-form button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  border: none;
  background-color: #168ae4;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.4s;
}

.contact-form button:hover {
  background-color: #125a9b;
}

.footer-container {
  background-color: #e3effb;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  width: 40%;
  text-align: left;
  padding-left: 40px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.footer-left strong {
  font-size: 20px;
}

.footer-left p {
  margin: 10px 0;
}

.footer-icons {
  margin-top: 15px;
}

.footer-icons img {
  width: 30px;
  margin-right: 10px;
}

.footer-right {
  width: 30%;
  text-align: right;
  padding-right: 40px;
}
.footer-right a {
  display: block;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.5s ease-in-out;
}
.footer-right a:hover {
  color: #3776c2;
}

.footer-bottom {
  background-color: #fff;
  text-align: center;
  padding: 15px;
}

.footer-bottom a {
  color: #3776c2;
  text-decoration: none;
}

.clientes-texto {
  display: flex;
  flex-flow: column;
  width: 90%;
  max-width: 1400px;
  margin: auto;
  padding: 40px 0px;
}

h2 {
  color: #3776c2;
}

.clientes {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.carrossel-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
  width: -moz-max-content;
  width: max-content;
  animation: scroll 19.8s linear infinite;
}

.img-logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 175px;
  transition: transform 0.5s ease;
}
.img-logo :hover {
  transform: scale(1.07);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.about {
  width: 90%;
  max-width: 1600px;
  margin: auto;
  padding: 40px;
  text-align: center;
}

.title {
  color: #168ae4;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: start;
}

.description {
  font-size: 16px;
  color: #333;
  margin-bottom: 15px;
  text-align: justify;
}

.highlight {
  color: #168ae4;
  font-weight: bold;
}

.highlight-yellow {
  color: #f5b700;
  font-weight: bold;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 30px;
  gap: 25px;
}

.card {
  width: 30%;
  background: #fff;
  padding: 20px;
  border: 2px solid #168ae4;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.card ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.card li {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
  text-align: left;
}
.card li::before {
  content: "➤";
  color: #f5b700;
  position: absolute;
  left: 0;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.slider-wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-nav {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}

.container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 25px;
  padding: 15px 6%;
  text-align: center;
}

.item-3 {
  height: 270px;
  width: 90%;
  padding: 15px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.item-3 p {
  font-size: 16px;
}

.container-3 .item-3 {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fcfcfc;
  padding: 30px 20px;
  transition: 0.2s;
}

.container-3 .item-3:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  box-sizing: border-box;
}

span {
  font-weight: 300;
}

.container-2 {
  display: flex;
  height: 200px;
  flex-flow: column wrap;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.item-2 {
  height: 130px;
  width: 670px;
  background: #fff;
  padding: 15px;
}

#machine {
  margin-top: 35px;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}/*# sourceMappingURL=style.css.map */