@charset "UTF-8";
header {
  padding: 10px 87px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  flex-grow: 1;
  text-align: left;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

nav li {
  display: inline;
  padding: 0.2em 0.5em;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: 16px;
  transition: color 0.5s ease-in-out;
}

nav a:hover {
  color: #168ae4;
}

#faleconosco {
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.2em 0.5em;
  border: 3px solid #168ae4;
  border-radius: 2px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #168ae4;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
}

#faleconosco:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background-color: #168ae4;
  z-index: -1;
}

#faleconosco:hover, #faleconosco:focus {
  color: #fff;
}

#faleconosco:hover:before, #faleconosco:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
}

#faleconosco:active {
  transform: scale(0.95);
}

.footer-container {
  background-color: #e3effb;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  width: 40%;
  text-align: left;
  padding-left: 40px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.footer-left strong {
  font-size: 25px;
}

.footer-left p {
  margin: 10px 0;
  font-size: 20px;
}

.footer-right {
  width: 25%;
  text-align: right;
  padding-right: 40px;
}
.footer-right a {
  display: block;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.5s ease-in-out;
}
.footer-right a:hover {
  color: #168ae4;
}

.footer-bottom {
  display: flex;
  flex-flow: row;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
  padding: 15px 70px;
}

.footer-bottom a {
  color: #168ae4;
  text-decoration: none;
}

.clientes-texto {
  display: flex;
  flex-flow: column;
  width: 90%;
  max-width: 1600px;
  margin: auto;
  padding: 30px 0px;
}

h2 {
  color: #168ae4;
}

.clientes {
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 20px;
}

.carrossel-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
  width: -moz-max-content;
  width: max-content;
  animation: scroll 24s linear infinite;
}

.img-logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 175px;
  transition: transform 0.5s ease;
}
.img-logo :hover {
  transform: scale(1.07);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.about {
  width: 90%;
  max-width: 1600px;
  margin: auto;
  padding: 40px;
  text-align: center;
}

.title {
  color: #168ae4;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: start;
}

.description {
  font-size: 18px;
  color: #333;
  margin-bottom: 15px;
  text-align: justify;
}

.highlight {
  color: #168ae4;
  font-weight: bold;
}

.highlight-yellow {
  color: #f5b700;
  font-weight: bold;
}

.cards-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 30px;
  gap: 25px;
}

.card {
  width: 30%;
  background: #fff;
  padding: 20px;
  border: 2px solid #168ae4;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.103);
  text-align: center;
  animation: appear2 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  font-size: 17px;
  overflow-x: hidden;
}
.card ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}
.card li {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  position: relative;
  padding-left: 20px;
  text-align: left;
}
.card li::before {
  content: "➤";
  color: #f5b700;
  position: absolute;
  left: 0;
}

@keyframes appear2 {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 140px;
}

.slider-wrapper {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.slider {
  display: flex;
  width: 100%;
  min-height: 37vw;
  max-height: 600px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider img {
  flex: 0 0 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  scroll-snap-align: start;
}

.slider-nav {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.slider-nav a {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #aaa;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
.slider-nav a:hover {
  opacity: 1;
}

.container-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 25px;
  padding: 28px 6%;
  text-align: center;
}

.item-3 {
  height: 220px;
  width: 90%;
  padding: 15px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

.item-3 p {
  font-size: 18px;
}

.container-3 .item-3 {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #fcfcfc;
  padding: 30px 20px;
  transition: 0.2s;
}

.container-3 .item-3:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  overflow-x: hidden;
}

span {
  font-weight: 300;
}

.container-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  padding: 0 20px;
}

.item-2 {
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 15px;
  margin-bottom: 20px;
}

#machine {
  margin-top: 85px;
}

.item-2 p {
  font-size: 17px;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
::-webkit-scrollbar {
  width: 11px;
}

::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #168ae4;
  border-radius: 10px;
  border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
  background: #002147;
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  html, body {
    overflow-x: hidden;
  }
  header {
    display: flex;
    padding: 10px 20px;
    flex-direction: row;
    align-items: flex-start;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin-top: 10px;
  }
  nav ul li {
    display: none;
  }
  nav ul li:has(a#faleconosco) {
    display: inline-block;
  }
  #faleconosco {
    font-size: 13px;
  }
  .slider {
    min-height: 50vw;
    height: auto;
  }
  .slider img {
    height: auto;
  }
  .banner {
    margin-bottom: 80px;
    justify-content: center;
    align-items: center;
  }
  .container-3 {
    display: flex;
    flex-direction: column;
  }
  .item-3 {
    animation: none;
    animation-timeline: none;
    animation-range: none;
  }
  .about {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
  .container-2 {
    flex-direction: column;
  }
  .item-2 {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 0px;
  }
  #machine {
    margin-top: 45px;
  }
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 80%;
    animation: none;
    animation-timeline: none;
    animation-range: none;
  }
  .footer-container {
    justify-content: center;
  }
  .footer-left {
    width: 100%;
  }
  .footer-right {
    display: none;
  }
  .footer-bottom-right {
    display: none;
  }
  .footer-bottom {
    padding: 10px 20px;
    justify-content: center;
  }
  .footer-bottom-left {
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */