$White: #fff;
$Black: #000;
$Yellow: #f5b700;
$PrimaryLightBlue: #168ae4;
$PrimaryDarkBlue: #002147;

@import './header-nav';
@import './footer';
@import './clientes';
@import './about';
@import './banner';
@import './solucoes';

html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    overflow-x: hidden;
}

span{
    font-weight: 300;
}


.container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 0 20px;
}

.item-2 {
    width: 100%;
    max-width: 600px;
    background: $White;
    padding: 15px;
    margin-bottom: 20px;
}

#machine{
    margin-top: 85px;
}

.item-2 p{
    font-size: 17px;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}


::-webkit-scrollbar {
    width: 11px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $PrimaryLightBlue;
    border-radius: 10px;
    border: 2px solid $White;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: $PrimaryDarkBlue;
  }

  @media screen and (max-width: 768px) {


    
    html, body{
        overflow-x: hidden;
    }

    header {
        display: flex;
        padding: 10px 20px;
        flex-direction: row;
        align-items: flex-start;
      }
    
      nav {
        display: flex;
        justify-content: center;
        width: 40%;
        margin-top: 10px;
      }
    
      nav ul {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
      }

      .banner{
        overflow: hidden;
      }

    .container-3{
        display: flex;    
        flex-direction: column;
    }

    .item-3{
        animation: none;
        animation-timeline: none;
        animation-range: none;
    }

    .about{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .container-2{
        flex-direction: column;
    }

    .cards-container {
        flex-direction: column;
        align-items: center;
      }

      .card{
        width: 80%;
        animation: none;
        animation-timeline: none;
        animation-range: none;
      }

      .footer-container{
        justify-content: center;
      }
      .footer-left{
        width: 100%;
      }
      .footer-right{
        display: none;
      }

      .footer-bottom-right{
        display: none;
      }

      .footer-bottom{
        padding: 10px 20px;
      }

    
}