@import './header-nav';
@import './contact';
@import './form';
@import './footer';
@import './clientes';

body{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

span{
    font-weight: 300;
}

#banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 91%;

}

.container-2{
    display: flex;
    gap: 15px;
    height: 640px;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 50px;
}

.container-3{
    display: flex;
    height: 200px;
    flex-flow: column wrap;
    align-items: center;
}
.about {
    width: 90%;
    max-width: 1400px;
    margin: auto;
    padding: 40px 0;
    text-align: center;
}

.title {
    color: #168ae4;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: start;
}

.description {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    text-align: justify;
}

.highlight {
    color: #168ae4;
    font-weight: bold;
}

.highlight-yellow {
    color: #f5b700;
    font-weight: bold;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 30px;
    gap: 15px;
}

.card {
    width: 30%;
    background: white;
    padding: 20px;
    border: 2px solid #168ae4;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.card li {
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
    position: relative;
    padding-left: 20px;
    text-align: left;
}

.card li::before {
    content: "➤";
    color: #f5b700;
    position: absolute;
    left: 0;
}

.item-2{
    height: 270px;
    width: 390px;
    background: white;
    padding: 15px;
}

.item-3{
    height: 130px;
    width: 670px;
    background: white;
    padding: 15px;
}

#machine{
    margin-top: 35px;
}