$White: #fff;
$Black: #000;
$Yellow: #f5b700;
$PrimaryLightBlue: #168ae4;
$PrimaryDarkBlue: #002147;

@import './header-nav';
@import './footer';
@import './clientes';
@import './about';
@import './banner';
@import './solucoes';

html {
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    box-sizing: border-box;
}

span{
    font-weight: 300;
}


.container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 0 20px;
}

.item-2 {
    width: 100%;
    max-width: 600px;
    background: $White;
    padding: 15px;
    margin-bottom: 20px;
}

#machine{
    margin-top: 85px;
}

.item-2 p{
    font-size: 17px;
}

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}


::-webkit-scrollbar {
    width: 11px;
  }
  
  ::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: $PrimaryLightBlue;
    border-radius: 10px;
    border: 2px solid $White;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: $PrimaryDarkBlue;
  }